/* Universal styling */
* {
    margin: 0;
    padding: 0;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }

  .body {
    height: 100vh;
  }

  .hero {
    margin: 0 1em;
  }

  h3 {
    color: #8A9A5B;
  }

  a {
    text-decoration: none;
    color: white;
  }

  a:hover {
    color:#301b1b;
  }

  /* Header */

  .quiltfo-nav {
    background-color: #f18a88;
    color: white;
    display: flex;
    justify-content: space-between;
    position: sticky;
    top: 0;
    height: 10%;
    z-index: 1;
  }

  .quiltfo-nav-left,
  .quiltfo-nav-right {
    align-items: center;
    display: flex;
    justify-content: flex-start;
    padding: 1em 1em 1em 0;
  }

  .quiltfo-nav-item {
    padding-left: .8em;
    font-weight: 500;
    
  }

  .clickable:hover {
    color: #301b1b;
  }

  /* About section & page */

  #about-home {
  background-image: url("/images/Megan_Trans_Quilt.png");
  margin-bottom: 25px;
  height: 20%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  opacity: .8;
}

.about-aside {
  margin: 10% 25%;
  border: #301b1b;
  border-style: ridge;
  border-width: 2px;
  background-color: #fdf3f3;
  color: #301b1b;
  text-align: center;
  font-size: 1.1em;
  padding: 1em;
  opacity: .9;
}

#about-button {
  margin: 10px;
  width: 150px;
  background-color: rgb(138, 154, 91, 1);
  color: white;
  border: none;
  padding: 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

.about {
  margin: 1em;
}

.quiltfo-image-container {
  height: 100px;
  display: inline-block;
}

.quiltfo-image {
  width: 150px;
  float: left;
  padding-right: 1em;
}

/* Gallery Home page */

.gallery-home-container, .gallery-quilt-container {
  border: solid 2px;
}

.gallery-home-container {
    justify-content: center;
    display: grid;
    grid-template-columns: 1fr;
    gap: 15px;
    padding: 15px;
}

@media screen and (min-width: 480px) and (max-width: 768px) {
  .gallery-home-container {
    grid-template-columns: 1fr 1fr;
  }
}

@media screen and (min-width: 768px) and (max-width: 1200px) {
  .gallery-home-container {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media screen and (min-width: 1200px) {
  .gallery-home-container {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}




